.home {
  background-image: url("../images/teckel.jpg");
  background-size: contain;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
