.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(255, 255, 255, .98);
}
  .navBar ul,
  .narBar li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navBar ul{
    display: flex;
  }

    .navBar .left
    {
      position: absolute;
      left: 20px;
    }

    .navBar .right
    {
      position: absolute;
      right: 20px;
    }

  .navBar a
  {
    display: inline-block;
    padding: 11px 10px 9px;
    height: auto;
    color: #999;
  }

    .active,
    .active:visited {
      color: #111;
    }

  .navBar .logo {
    width: 192px;
    height: 44px;
    display: block;
    background-image: url("../images/take-a-paws.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .logo span{
    visibility: hidden;
  }
