.content {
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
  position: absolute;
  top: 5%;
  left: 10%;
  background-color: white;
  width: 78%;
  height: 90%;
  text-align: center;
}

.input {
  border-color: white;
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: white;
  width: 60%;
  height: 60%;
}

.title {
  font-family: "Brush Script MT";
  background-color: white;
  position: absolute;
  font-size: 40px;
  width: 70%;
  height: 10%;
  top: 5%;
  left: 15%;
  text-align: center;
}

.description {
  font-family: "Arial";
  font-size: 15px;
  color: grey;
  background-color: white;
  text-align: center;
  position: absolute;
  width: 70%;
  top: 20%;
  left: 15%;
}

.SignupInput {
  border-width: thin;
  position: relative;
  border-style: solid;
  border-color: lightgrey;
  top: 80%;
  left: 0%;
  font-size: 105%;
  font-weight: lighter;
  text-align: center;
  height: 20%;
  width: 100%;
  background-color: whitesmoke;
}

.SignupButton {
  border-width: thin;
  border-style: solid;
  border-color: dodgerblue;
  position: absolute;
  top: 92%;
  left: 20%;
  font-size: 90%;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 6%;
  width: 60%;
  background-color: dodgerblue;
}
