body {
  font: 16px/1.5 "Nunito", sans-serif;
  color: #111;
}

h1,
h2,
h3
{
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a,
a:visited
{
  text-decoration: none;
  color: #111;
}

img
{
  width: 100%;
  height: auto;
}
